<!-- views/course.ejs -->
<h1>Course Videos</h1>

<% courses.forEach(course => { %>
    <h2><%= course.title %></h2>
    <p><%= course.content %></p>

    <!-- YouTube Embed -->
<<<<<<< HEAD
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= course.VideoId %>"
=======
    <iframe width="560" height="315" src="https://www.youtube.com/<%= course.link %>"
>>>>>>> 5c64ad7d335ec1c6cbad6af605c00cc65055c806
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
<% }); %>
