<!-- views/podcast.ejs -->
<h1>Podcasts</h1>

<% podcasts.forEach(podcast => { %>
    <h2><%= podcast.title %></h2>
    <p><%= podcast.content %></p>

    <!-- Spotify Player Embed -->
    <iframe src="https://open.spotify.com/embed/episode/<%= podcast.link %>"
            width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
<% }); %>
